.FriendBox {
    cursor: pointer;
    margin: 10px;
}

.FriendBox:hover{
    background-color: #d3d3d3;
}

.FriendImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    
}

.FriendName{
    font-weight: bold;
    margin: 10px;
}