.edit-icon {
    transition: all 0.3s ease-in-out;
    margin-left: 10px;
  }
  
  .edit-icon:hover {
    transform: scale(1.2);
    color: #ff0000;
    cursor: pointer;
  }
  .camera-icon {
    transition: all 0.3s ease-in-out;
    font-size: 40px;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  
  .camera-icon:hover {
    transform: scale(1.2);
    color: #ff0000;
    cursor: pointer;
  }
  .input-icon-container {
    position: relative;
    display: inline-block;
  }
  
  .input-with-icon {
    padding-right: 30px; /* Space for the icon */
  }
  
  .eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }