:root {
  --main-color: #1A535C;
  --accent-color: #4ECDC4;
  --neutral-dark: #555555;
  --neutral-light: #FAFAFA;
  --neutral-white: #FFFFFF;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #1A535C;
  color: #7796b8;
}

.title-man {
  position: relative;
  top: -25px;
  text-align: center;
  margin: 40px 0 20px;
  text-transform: uppercase;
  font-weight: 700;
  color:rgb(86, 81, 81);
  font-size: 35px; /* Increase the font size for a bigger title */
}

.divider-title-man {
  margin: 20px auto;
  position: relative;
  top: -25px;
  border: none;
  border-top: 2px solid #000000;
  width: 50%;
}

.container-for-sch .schedule-container {
  padding: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: var(--neutral-white);
  margin-top: 120px;
  height: 100%;
}
.schedule-header .calendar-div {
  border: none;
  position: relative;
left: 560px;
bottom: 35px;
  border-top: 3px solid rgb(0, 0, 0); /* Increase the border thickness as desired */
  width: 10%;


}
.schedule-header {
  background-color: #ffffff;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center; /* Update the justify-content property */
  padding: 10px;
  height: 70px; /* Add px unit for height */
}

.schedule-header-iconleft {
  display: flex;
  justify-content: flex-start;
}

.schedule-header-iconright {
  display: flex;
  justify-content: flex-end;
}

.schedule-header-month {
  margin: 40px 0 10px;
  text-align: center;
  flex-grow: 1;
  padding-bottom: 20px; /* Add padding to create space below the header */
  padding-top: 25px;
}

.schedule-header-icons {
  display: flex;
  align-items: center;
}

.schedule-header-icons > div {
  margin-left: 10px;
}

.schedule-header-icons-left {
  margin-left: auto;
}

.white-bg {
  background-color: #fff !important;
}

.spaceout td {
  padding: 0;
}

.spaceout td > div {
  margin-bottom: 0;
}

.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.worker-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.worker-container > div {
  margin-bottom: 4px;
}

.table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Add this property to force the table to use the specified height */
}

/* Styling for table header */
.table thead {
  background-color: #ffffff;
  color: black;
}

.table thead th {
  padding: 10px;
  text-align: center;
}

/* Styling for table body */
.table tbody td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

/* Styling for table rows */
.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:nth-child(odd) {
  background-color: #e9e9e9;
}

.table tbody tr:hover {
  background-color: #ddd;
}

/* Styling for select */
.select-container {
  background-color: #ffffff;
  border: none;
}

.button-sch {
  align-items: center;
  position: relative;
  background-clip: padding-box;
  display: inline-flex;
  border: 1px solid transparent;
  box-sizing: border-box;
  line-height: 1.25;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #1A535C;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  cursor: pointer;
  font-weight: 600;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  transition: background-color 0.3s ease-in-out;
  float: right; /* Add this line to float the button to the right */
  margin-right: 50px;
  margin-top: 80px;
  margin-bottom: 50px;
  justify-content: center;
  text-decoration: none;
  vertical-align: baseline;

    width: auto;




}


.button-sch:hover,.button-sch:focus {
  background-color: #7796b8;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;

}

.submitting {
  cursor: not-allowed;
  opacity: 0.8;
}

.morning-shift {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.evening-shift {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

td.morning-shift-cell {
  background-color: #ffffff !important; /* Change color as needed */
}

td.evening-shift-cell {
  background-color: #ffffff !important; /* Change color as needed */
}

.cardsContainer-man {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.cardsContainer-man .cardDiv {
  width: 24%;
  box-sizing: border-box;
  padding: 30px;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 20px;
}



.blue {
  background: rgba(203, 226, 243, 0.3);
  border: 1px solid rgba(203, 226, 243, 1);
}

.blue h1 {
  color: rgb(67, 171, 251);
}

.orange {
  background: rgba(232, 202, 119, 0.3);
  border: 1px solid rgba(232, 202, 119, 1);
}

.orange h1 {
  color: rgb(247, 196, 53);
}

.red {
  background: rgba(227, 134, 134, 0.3);
  border: 1px solid rgba(227, 134, 134, 1);
}

.red h1 {
  color: rgb(240, 63, 63);
}

.purple {
  background: rgba(140, 107, 177, 0.3); /* Change the background color */
  border: 1px solid rgba(140, 107, 177, 1); /* Change the border color */
}


.purple h1 {
  color: rgba(140, 107, 177, 1); /* Change the text color */
}



.cardDetails-man {
  width: 80%;
  float: left;
  font-size: 20px;
}

.cardDetails-man .cardTitle-man {
  width: 100%;
  float: left;
  font-size: 20px;
  font-weight: 500;
  color: rgb(106, 100, 100);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.cardIcon-man {
  width: 20%;
  float: left;
}

.cardIcon-man h1 {
  padding: 0;
  margin: 0;
}
@media (max-width: 600px) {
  .cardsContainer-man {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
  }
  
  .cardsContainer-man .cardDiv {
    width: 100% !important;
    margin-bottom: -7px ;  /* decreased the margin-bottom */
  }
  
  .widecard {
    width: 100% !important;
  }
  
  .table-container {
    width: 100%!important; 
    overflow-x: auto!important;
    margin-bottom: 20px;
  }
  
  .table {
    display: flex;
    flex-direction: column;
    height: 300px;  /* should be adjusted */
    overflow-x: auto;
    overflow-y: hidden;
    width: auto;
  }
  .table tr {
    display: flex;
    flex-direction: row;
    width: 300px;  /* should be adjusted */
    box-sizing: border-box;
  }


  
  .select-container select {
    width: 100%!important;
    font-size: 14px!important;
  }
  .calendar-div{
    margin-left: -400px !important;
  }
  .theading{
    width: 100% !important;
    margin-left: 150px;
    padding-right: 5px !important;
    
  }
  }
