body {
  font-family: 'Arial', sans-serif;
  background-color: #1A535C;
  color: #7796b8;
}


.title {
  position: relative;
  top: 10px;
  text-align: center;
  margin-top: 20px;
  color: #1A535C;
}

.divider-title {
  margin: 20px auto;
  position: relative;
  top: 30px;
  border: none;
  border-top: 1px solid #7796b8;
  width: 50%;  
}

.container-for-sch .schedule-container {
  padding: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  height: 400px;
  background-color: #ffffff;
  margin-top: 130px;
}

.schedule-header {
  color: #1A535C;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.schedule-header-iconleft {
  display: flex;
  justify-content: flex-start;
}

.schedule-header-iconright {
  display: flex;
  justify-content: flex-end;
}

.schedule-header-month {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  flex-grow: 1;
}

.schedule-header-icons {
  display: flex;
  align-items: center;
}

.schedule-header-icons > div {
  margin-left: 10px;
}

.schedule-header-icons-left {
  margin-left: auto;
}

.white-bg {
  background-color: #fff !important;
}

.spaceout td {
  padding: 0;
}

.spaceout td > div {
  margin-bottom: 0;
}

.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.worker-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.worker-container > div {
  margin-bottom: 4px;
}

/* Styling for table */
.table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

/* Styling for table header */
.table thead {
  background-color: #7796b8;
  color: #ffffff;
}

.table thead th {
  padding: 10px;
  text-align: center;
}

/* Styling for table body */
.table tbody td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

/* Styling for table rows */
.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:nth-child(odd) {
  background-color: #e9e9e9;
}

.table tbody tr:hover {
  background-color: #ddd;
}

/* Styling for select */
.select-container {
  background-color: #ffffff;
  border: none;
}
.button-sch {
  font-family: 'Arial', sans-serif;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #1A535C;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: fit-content; 
  margin-top: 80px;
  margin-left: 1140px;



}

.button-sch:hover {
  background-color: #7796b8;
}

.submitting {
  cursor: not-allowed;
  opacity: 0.8;
}
.morning-shift {
  color: white; 
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif; 
  
}

.evening-shift {
  color: white; 
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif; 
  
}
td.morning-shift-cell {
  background-color: #7796b8!important; /* Change color as needed */
}

td.evening-shift-cell {
  background-color: #7796b8 !important; /* Change color as needed */
}